<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting id="include_local" type="bool" default="false"
           label="Include Downloaded Riffs" />
  <setting id="local_folder" type="folder" visible="eq(-1,true)"
           label="Riffs Folder" />
  <setting type="action"
           action="RunScript(plugin.video.rifftrax, 0, mode=refreshdb)"
           label="Update Database" />
  <setting type="action"
           action="RunScript(plugin.video.rifftrax, 0, mode=cleardb)"
           label="Delete Database" />
</settings>
