<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting id="include_local" type="bool" default="false"
             label="Include Downloaded Riffs" />
    <setting id="local_folder" type="folder" visible="eq(-1,true)"
             label="Riffs Folder" />
  </category>
  <category label="Library">
    <setting id="update_library" type="enum" default="0"
             label="Automatically Update Library"
             values="Never|Always|On Main Index" />
    <setting type="sep" />
    <setting type="action"
             action="RunPlugin(plugin://plugin.video.rifftrax?mode=refresh_db&amp;explicit=true)"
             label="Update Library" />
    <setting type="action"
             action="RunPlugin(plugin://plugin.video.rifftrax?mode=clean_db)"
             label="Clean Library" />
    <setting type="action"
             action="RunPlugin(plugin://plugin.video.rifftrax?mode=delete_db)"
             label="Delete Library" />
  </category>
</settings>
